::-webkit-scrollbar {
    width: 8px;  /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555;  /* Set the color of the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #eee;  /* Set the color of the track */
  }

  
#toggle-btn {
    position: absolute;
    top: 40px;
    right: 28.3vw;
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.3);
cursor: pointer;
box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
}


.company-name{
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    letter-spacing: 15px;
    font-family: poppins;
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    height: 20px;
    position: fixed;
    top: 0;
    opacity: 1;
    transition: all 0.5s ease-out;
}



#clipboard-message {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    font-family: poppins;
}  
  
#hide-or-show {
    width: 100%;
    position: relative;
    right: 0;
    cursor: pointer;
    box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    transition: all 0.2s ease-in-out;
}

#hide-or-show:hover {
    transform: scale(0.9);
}

.nav-bar-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    margin: 25px;
    justify-content: space-between;
    width: 65%;
    padding: 0 15px;
}


.notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.embedded-link-to-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    width: 350px;
    height: 40px;
    font-size: 15px;
    background: #2c2c2c;
    border-radius: 5px;
    align-items: center;
    color: white;
    font-family: poppins;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
}

.embedded-link-to-display input {
    width: 280px;
    height: 20px;
    border: 0;
    background-color: transparent;
    caret-color: white;
    color: white;
    font-family: poppins;
    text-align: start;
}

.embedded-link-to-display input:focus {
    outline: none;
}

#embedded-video {
    width: 60vw;
    height: 60vh;
    margin: 0 5vw;
    position: fixed;
    top: 15vh;
}


#local-time, .date {
   position: relative;
   margin: 30px;
   font-family: poppins;
   font-size: 16px;
   color: #2c2c2c;
   text-shadow: 1px 1px 55px black;
   letter-spacing: 2px;
}
  
.notification button {
    max-height: 50px;
    max-width: 50px;
    width: 3vw;
    height: 3vw;
    background: #ffffff;
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
cursor: pointer;
box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
}

.notification p {
    font-family: poppins;
    font-size: 80%;
    font-weight: 500;
    padding: 7px 15px;
    background-color: #2c2c2c;
    border-radius: 0 5px 5px 0;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
}

.notification img {
    height: 70%;
    position: relative;
    top: 2px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    transition: transform 0.2s ease-in-out;

}

.notification img:hover {
    transform: scale(0.9);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/5.png");
    overflow-y: hidden;
}

.timer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    font-family: poppins;
    color: #2c2c2c;
    font-size: 7vw;
    font-weight: 600;
    z-index: 100;
}

#pomodoro25:hover {
   color: #6e4f31;
}

#pomodoro50:hover {
    color: #6e4f31;
}

.countdown-main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.function-buttons {
    position: absolute;
    bottom: 60px;
    height: 50px;
    padding: 0 30px;
    width: 25vw;
    min-width: 300px;
    font-size: 15px;
background: rgba(44, 44, 44, 0.2);
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
align-items: center;
margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.function-buttons button {
    background: transparent;
    text-align: center;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-family: poppins;
    font-size: 16px;
    color: #2c2c2c;
    text-shadow: 1px 1px 55px black;
}

.function-buttons span {
    color: #002c40;
}

.feedback-n-our-products {
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.feedback-n-our-products a, span {
    text-decoration: none;
    font-weight: 500;
    color: white;
    margin: 0 35px;
    font-size: 12px;
}

.feedback-n-our-products a:hover {
    color: #CC9966;
}

.to-the-side {
    height: 100vh;
    width: 30vw;
    max-width: 600px;   
font-family: poppins;
text-transform: uppercase;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.nav-bar h2 {
    font-size: 25px;
    font-weight: 700;
    color: #002c4095;

}

.music-player {
    width: 25vw;
    position: absolute;
    top: 25px;
}

.music-player iframe {
    box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
border-radius: 15px;
height: 56vh;
}

.flash-cards {
    height: 33vh;
    width: 25%;
    position: absolute;
    bottom: 35px;
    background-color: #2c2c2c;
    border-radius: 15px;
    box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 75px -27px rgba(0,0,0,0.75);
}

.notes-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notes-nav-bar-title {
    font-weight: 600;
    position: relative;
    color: white;
    top: -15px;
    margin: 30px 15px 0px;

}

.notes-button {
    position: relative;
    align-items: center;
    margin: 13px;
    height: 20px;
}

.notes-button button {
    background-color: #2c2c2c;
    border: 0;
    cursor: pointer;
    height: 100%;
}




.notes-input {
    background-color: transparent;
    border: 0;
    width: 23vw;
    height: 24vh;
    caret-color: #FFFFFF;
    color: white;
    margin: 0 15px;
    font-size: 16px;
    resize: none;
    padding: 0;
}

.notes-input:focus {
    outline: none;
}

